.crypto-dashboard {
  margin: 20px;
}

.crypto-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.crypto-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.crypto-card mat-card {
  min-width: 200px;
}

.crypto-price {
  margin-top: 10px;
  font-size: 18px;
}

.no-data-card {
  margin-top: 20px;
  text-align: center;
}

.exchange-card {
  margin-top: 20px;
}

.button-container {
  text-align: center;
}
